<h1 class="all-gastronomy">Gastronomy</h1>

{{#each gasts}}
  <a href="/gastronomy/details/{{id}}"><h3>{{name}}</h3></a>
{{/each}}

<a href="/gastronomy/create">Create new</a>
<br>
<a href="/">Back to main menu</a>