<h1 class="all-arts">New Gastronomy</h1>


<div class="new-interest">
  <div class="form-new">

 
  <form action="/gastronomy/create" method="POST" enctype="multipart/form-data">
    <label>
      Name: <br>
      <input type="text" name="name" />
    </label> 
    <label>
      type: <br>
      <select name="type">
        <option>Restaurant</option>
        <option>Bar</option>
      </select> <br>
    </label> 
    <label>
      Description: <br>

      <input type="text" name="description" />
    </label> <br>
    <label>
      price: <br>
      <select name="price">
        <option>Economic</option>
        <option>Normal</option>
        <option>Expensive</option> 
      </select> 
    </label>
    <label>
      Food: <br>
      <input type="text" name="food" />
    </label> <br>
    <label>
      Image: <br> 
      <input type="file" name="image" class="form-control-file" />
    </label> <br>
Location:
       <input type="text" id="address" class="address">
      <button class="submit">enviar</button>
        <br>


    <span class="latitudeCenter">40.4206213320784</span>
    <span class="longitudeCenter">-3.706324171610527</span>



     <label class="labelLocation-art">
      Location:
      <input type="text" name="lat" class="latitudeText" />
      <input type="text" name="lng" class="longitudeText" />
    </label> <br>
    
    <label>
      Website:
      <input type="text" name="webSite" />
    </label> <br>
    <label>
      Opening Time:
      <input type="text" name="openingTime" />
    </label>
    <label>
      ClosingTime:
      <input type="text" name="closingTime" />
    </label>
    <input type="submit" />
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
  </div>
  
<div class="map">
<div id="map"></div>
</div>
</div>


<script src="../../js/main.js"> </script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2EY6nvc3be8-6agfTwW2PNHPH0GX3dg8&callback=initMapNew"></script>