<form action="/reviews/create">
<input type="text" value="{{user.username}}">
<input type="text" value="{{interest.name}}">
<textarea name="textArea" id="" cols="30" rows="10">



    
</textarea>







</form>