<div class="container index">
  <div class="index-main">
    <h1 class="title-index">[MAD] TOUR</h1>

    <h2>{{user.username}}</h2>

    
    </div>

    <a href="/arts/all-arts">Art</a>
    <a href="/ent/all-ent">Entertainment</a>

    <a href="/gastronomy/all-gastronomy">Gastronomy</a>

  </div>

</div>



<div class="container card-index">
  <div class="card">
    
    <div class="content">
      <h2>Art</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam debitis numquam, alias laborum eaque natus dolor totam perspiciatis adipisci ipsum rem amet nobis commodi placeat!</p>
    </div>
  </div>
  <div class="card">
   
    <div class="content">
      <h2>Gastronomy</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam debitis numquam, alias laborum eaque natus dolor totam perspiciatis adipisci ipsum rem amet nobis commodi placeat!</p>
    </div>
  </div>
  <div class="card">
   
    <div class="content">
      <h2>Entertainment</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam debitis numquam, alias laborum eaque natus dolor totam perspiciatis adipisci ipsum rem amet nobis commodi placeat!</p>
    </div>
  </div>
</div>


