<div class="container index">
  <div class="index-main">
    <h1 class="title-index">[MAD] TOUR</h1>

    <h2>{{user.username}}</h2>

    
    </div>

<div class="links-content">
   
</div>
  </div>

</div>




<div class="container card-index">
  <div class="card-main card-art">
    
    <div class="content">
      <h2>Art</h2>
      <p>Discover museums, monuments and theaters in Madrid that will make you know more about the art in this city </p>
    </div>
  </div>
  <div class="card-main card-gastronomy">
   
    <div class="content">
      <h2>Gastronomy</h2>
      <p>Do you enjoy eating and drinking? Discover the best places to try the local food and degustate the tipical dishes in Madrid</p>
    </div>
  </div>
  <div class="card-main card-ent">
   
    <div class="content">
      <h2>Entertainment</h2>
      <p>Enjoy the spanish party with the best clubs and pubs,choosing depending on what type of music you like the most </p>
    </div>
  </div>
</div>
<div class="parallax-div">



</div>

  <div class="container-flex container-red">
    <div class="container container-weather">
     <h2 class="title-weather" >Weather in madrid</h2>

    <div class="weather-content">
      <h4 class=>Madrid,Spain</h4>
        <h4 class="temperature"></h4>
        <div class="weather-icons">
        <h6 class="sky"></h6>
                </div>
        <div class="weather-attrs">
        <span class="humidity"></span>
        <span class="feelLike"></span>
        </div>
          
    </div>
 
</div>
 Hola

  </div>


  



<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="../js/apiHandler.js"> </script>
