<div class="container index">
  <div class="index-main">
    <h1 class="title-index">[MAD] TOUR</h1>

    <h2>{{user.username}}</h2>

    
    </div>

<div class="links-content">
   
</div>
  </div>

</div>




<div class="container card-index">
  <div class="card card-art">
    
    <div class="content">
      <h2>Art</h2>
      <p>Discover museums, monuments and theaters in Madrid that will make you know more about the art in this city </p>
    </div>
  </div>
  <div class="card card-gastronomy">
   
    <div class="content">
      <h2>Gastronomy</h2>
      <p>Do you enjoy eating and drinking? Discover the best places to try the local food and degustate the tipical dishes in Madrid</p>
    </div>
  </div>
  <div class="card card-ent">
   
    <div class="content">
      <h2>Entertainment</h2>
      <p>Enjoy the spanish party with the best clubs and pubs,choosing depending on what type of music you like the most </p>
    </div>
  </div>
</div>
<div class="parallax-div">



</div>

