<h3 class="parallaxRestaurant">Restaurants</h3>
<h3 class="parallaxMonument">Monuments</h3>
<h3 class="parallaxClub">Clubs</h3>
<h3 class="parallaxMuseum">Museums</h3>
<h1 class="title-profile">Welcome, {{username}}!</h1>
<h3 class="title-profile">Start looking for your <strong class="favplaces">favorite places</strong></h3>

<div class="container container-profile">
    <div class="content-profile">

    <div class="profileElem arts-content">
<a href="/arts/all-arts">Art</a>
    </div>

    <div class="profileElem gastronomy-content">
<a href="/ent/all-ent">Entertainment</a>

    </div>

    <div class="profileElem ent-content">
    <a href="/gastronomy/all-gastronomy">Gastronomy</a>

    </div>
</div>

</div>

<div class="container profile-about">
<h2 class="about-title">About us</h2>

<h3 class="about-title">MadTour help you with your trips, dont get bored</h3>

    <div class="row">
    
    <div class="col about-monument">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://www.esmadrid.com/sites/default/files/styles/content_type_full/public/recursosturisticos/infoturistica/templo_deblod_1.jpg?itok=T6hBT_Fj" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">Museo del Prado</h5>
        <p class="card-text">The Temple of Debod is an ancient Egyptian building currently located in the Spanish city of Madrid</p>
        <a href="/arts/details/{{id}}" class="btn btn-dark">Details</a>
      </div>
      
          </div>
          <p class="info-about">Learn info about the best places in Madrid</p>

      
</div>
<div class="col about-monument">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://dancedjmusic.com/wp-content/uploads/2020/03/fabrik-madrid-discoteca.jpg" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">Fabrik</h5>
        <p class="card-text">Fabrik is an electronic and techno music nightclub located in the municipality of Humanes de Madrid Spain,</p>
        <a href="/arts/details/{{id}}" class="btn btn-dark">Details</a>
      </div>
          </div>
<p class="info-about">Upload the places you have visited and let us know how it is</p>

</div>



</div>
<div class=" footer">
<p>Developed by Marcos Fernandez and Guido Crespo</p>

</div>


{{!-- <img src= "https://o.remove.bg/downloads/cada2a7e-bd5a-4bca-9820-b369d7bb9c2a/bike-307774_1280-removebg-preview.png" class="parallaxImg"></h3> --}}







