<h1 class="title-profile">Welcome, {{username}}!</h1>
<h3 class="title-profile">Start looking for your <strong class="favplaces">favorite places</strong></h3>

<div class="container container-profile">
    <div class="content-profile">

    <div class="profileElem arts-content">
<a href="/arts/all-arts">Art</a>
    </div>

    <div class="profileElem gastronomy-content">
<a href="/ent/all-ent">Entertainment</a>

    </div>

    <div class="profileElem ent-content">
    <a href="/gastronomy/all-gastronomy">Gastronomy</a>

    </div>










</div>

</div>