<h1 class="profile-page">Welcome, {{username}}!</h1>

<a href="/">Menu</a>

<a href="/arts/all-arts">Art</a>
<a href="/ent/all-ent">Entertainment</a>

<a href="/gastronomy/all-gastronomy">Gastronomy</a>