<h1 class="all-arts">Arts</h1>

<a href="/arts/create">Create new</a>
<br />
<a href="/">Back to main menu</a>
<div class="container container-all">

  {{#each arts}}

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{image}}" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{description}}</p>
        <a href="/arts/details/{{id}}" class="btn btn-dark">Details</a>
      </div>
    </div>

  {{/each}}

</div>