  <h1 class="all-arts">New Entertainment</h1>

<div class="new-interest">

<div class="form-new">
  <form action="/ent/create" method="POST" enctype="multipart/form-data">

    <label>
      Name: <br>
      <input type="text" name="name" />
    </label>
    <br>


    <label>
      Type: <br>
      <select name="type">
        <option value="Disco">Disco</option>
        <option value="Pub">Pub</option>
        <option value="Outdoor">Outdoor</option>
      </select>
    </label>
    


    <label>
      Music Type: <br>
      <input type="text" name="musicType" placeholder="Reggaeton" />
    </label>
    <br>


    <label>
      Image: <br>
      <input type="file" name="image" class="form-control-file" />
    </label>
    <br>


    <label>
      Price:
      <select name="price">
        <option value="Economic">Economic</option>
        <option value="Normal">Normal</option>
        <option value="Expensive">Expensive</option>
      </select>
    </label> <br>
    


    Location: <br>
      <input type="text" id="address" class="address">
      <button class="submit">Send</button>
    
    <span class="latitudeCenter">40.4206213320784</span>
    <span class="longitudeCenter">-3.706324171610527</span>
    <br>
   
   

      <label class="labelLocation-art">
        Location:
      <input type="text" name="lat" class="latitudeText" />
      <input type="text" name="lng" class="longitudeText" />
    </label>
   


   
    


    <label>
      Website: <br>
      <input type="text" name="webSite" />
    </label>
    <br>


    <label> 
      Opening Time: <br>
      <input type="text" name="openingTime" />
    </label>
    


    <label>
      ClosingTime: <br>
      <input type="text" name="closingTime" />
    </label>
    <br>


    <input type="submit" />
    

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>

  </div>

<div class="map">
<div id="map"></div>
</div>

</div>



<script src="../../js/main.js"> </script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2EY6nvc3be8-6agfTwW2PNHPH0GX3dg8&callback=initMapNew"></script>